<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easystocksearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_stock_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_stock_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyStockSearch">

        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.EasyStockSearch.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            >

        </activity>

        <activity android:name=".StockDetails"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>